body{
	background-image: url(../images/senate1.jpg);
	background-size: 100%;
}

#toptext{
	font-family: 'Old Standard TT', serif;
	text-align: center;
	
}

#entry{
	border-width: 3px;
	border-radius: 10px;
	border-color: black;
	border-style: solid;
}

#state{
	text-align: center;

	background-opacity: .7;
	font-size: 1.5em;
	border-bottom: none;
	box-shadow: none;
	margin-bottom: 0px;
}

.navwrapper{
	width: 100%;
}
